.header-first {
  background-color: #F4F6F8;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.header__location-item {
  display: flex;
  gap: 5px;
}

.header__location-list {
  display: flex;
  gap: 40px;
}

.header__list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  gap: 30px;
}

.header__link {
  color: #3B3C40;
}

.header__icon_mail {
  background-image: url('../../img/svg/icon_mail.svg');
}

.header__icon_location {
  background-image: url('../../img/svg/icon_location.svg');
}

.header__icon_comein {
  background-image: url('../../img/svg/icon_men.svg');
}

.header__icon_like {
  background-image: url('../../img/svg/icon_heart.svg');
  position: relative;
}

.header__icon_basket {
  background-image: url('../../img/svg/icon_cart.svg');
  position: relative;
  background-position: bottom;
}

.header__icon_catalog {
  background-image: url('../../img/svg/icon-catalog.svg');
}

.icon_phone {
  background-image: url('../../img/svg/icon_phone.svg');
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.header__catalog {
  padding: 5px 5px 5px 20px;
  gap: 13px;
  margin-left: 41px;
}

.header__phone {
  gap: 6px;
  padding: 6px 23px 6px 29px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.header__form {
  border: 1px solid rgba(229, 14, 120, 1);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px 5px 25px;
  margin-left: 24px;
}

.header__input {
  height: 100%;
  flex: 1;
  border: none;
  line-height: 22px;
  font-size: 16px;
  font-weight: 500;
}

.header__submit {
  background-image: url('../../img/svg/icon_search.svg');
  width: 50px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header__icon-count {
  display: block;
  width: 22px;
  height: 22px;
  color: #fff;
  background-color: rgba(229, 14, 120, 1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  position: absolute;
  top: 2px;
  right: -16px;
  padding-top: 2px;
}

.header__menu {
  margin-left: 41px;
  margin-top: 3px;
}

.header__menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  background-color: transparent;
}

.header__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
}

.header__container_phone {
  margin-top: 0;
  justify-content: space-between;
}

@media screen and (min-width: 900px) {
  .header__container,
  .header-first {
    padding: 13px 9.4vw;
  }

  .header__container {
    margin-top: 8px;
  }

  .header__container_phone {
    margin-top: 0;
  }

  .header__form {
    width: 58.8%;
    height: 60px;
    padding: 4px 4px 5px 25px
  }
}