.element {
  overflow: hidden;
}

.element__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.element__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 63px;
  color: #3B3C40;
}

.element__button {
  color: #fff;
  background: linear-gradient(95.88deg, #DD3197 0%, #822FAF 101.4%);
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  padding: 5px 5px 5px 31px;
  gap: 24px;
}

.element__card {
  position: relative;
}


.element__link {
  text-decoration: none;
  border: 1px solid #fff;
  background: rgba(244, 246, 248, 0.5);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: absolute;
  bottom: 5.5%;
  left: 4%;
  padding: 10px 18px;
  z-index: 1;
  width: 92%;
  text-wrap: nowrap;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #3B3C40;
  background-image: url('../../img/svg/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: 95% center;
}

.element__link-name {
  font-size: 20px;
}

.element__text {
  font-size: 16px;
  opacity: .6;
}

.element__icon-button {
  background-image: url('../../img/svg/icon_arrow-right.svg');
}

@media screen and (min-width: 900px) {

  .element__header_popular {
    margin-bottom: 4%;
  }
}